.services {
    background-color: rgb(16, 135, 67);
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding: 0 20px;
}

.services .introducao,
.lista-servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services .introducao h1 {
    font-size: 2rem;
    color: #ffff;
    font-weight: 500;
}

.services .introducao p {
    font-size: 1rem;
    margin-top: 30px;
}

.serv {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serv h2 {
    font-size: 18px;
    margin-top: 50px;
}

.serv p {
    margin-top: 25px;
}

.last p {
    margin-bottom: 50px;
}

/* RESPONSIVE */

@media screen and (min-width: 1025px) {
    .services {
        min-height: 100vh;
    }

    .services .introducao p {
        padding: 10px 50px;
        font-size: 1.225rem;
    }

    .services .lista-servicos {
        font-size: 1.225rem;
    }
}